* {
    box-sizing: border-box;
}



/* BASICS */

/* html {
    font-family: play, serif;
    color: #626262;
    line-height: 1.714;
} */

body {
    font-size: .875rem;
    margin: 0;
    padding: 0;

}


/* LAYOUT */
.main-layout {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 3.1rem;
    padding-right: 3.1rem;
}

button {
    cursor: pointer;

}

input {
    cursor: pointer;


}




/* HEADER */
.main-header {
    /* height: 66px; */
    background-color: #ff7f00;
    /* margin-bottom: 30px; */
}

.main-nav a {
    height: 66px;
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 1.1875rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.main-nav a:hover {
    color: black;
    box-shadow: inset 0px -4px 0 black;
}

.logo {
    font-size: 1.5rem;
}

.filter-search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    /* display: none; */

}

.filters {
    position: relative;
    max-width: 600px;

}

.filter-btn {
    margin-left: 20px;
    border: none;
    background-color: inherit;
    padding: 10px;
    transition: 0.3s;
}

.filter-btn:hover {
    transform: scale(1.2);
    color: #ff7f00;
}


.more-filter-btn {
    position: relative;
    right: -40px;
    font-size: 20px;
}

.more-filter-btn:hover {
    color: #ff7f00;
}

.close-filter-btn {
    position: absolute;
    right: -40px;
    font-size: 20px;
}

.close-filter-btn:hover {
    color: #ff7f00;
}

.filter-input {
    width: 260px;
    border: none;
    border-bottom: black solid 1px;
}

.filter-input-btn {
    border: none;
    background-color: none;
    position: relative;
    bottom: 5px;
    right: 30px
}

/* MAIN */

.main-gallery {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #e3e3e3;


}

.gallery-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    object-fit: cover;

}

.gallery-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-img:hover {
    border: #ff7f00 solid 2px;
}


/* EDITOR */
.editor-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 550px));
    grid-auto-rows: auto;
    justify-items: center;
    align-items: start;
    background-color: #e3e3e3;
    padding-top: 25px;
    /* padding-bottom: 25px; */
    box-sizing: border-box;

}

.canvas-container {
    max-height: 550px;
    max-width: 550px;
    grid-area: 1/1/2/2;
    margin-bottom: 25px;


}

.function-container {
    padding-bottom: 25px;
    display: grid;
    height: 100%;
    width: 100%;
    grid-auto-rows: auto;
    justify-items: center;
    row-gap: 0px;
}

.edit-btn {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 25px;
    background-color: white;
    margin: 0 5px;
}

.edit-btn:hover {
    background-color: #f69d43;
}

.text-line-space {
    margin-bottom: 10px;
}

.text-input {
    width: 375px;
}

.text-line-function-btns {
    margin-bottom: 20px;
}

.editting-btns-container {
    margin-bottom: 10px;
}

.color-font-btn-container {
    margin-bottom: 30px;
}

.color-input-button {
    height: 45px;
}

.edit-font-btn {
    width: 200px;
}

.sticker-container {
    margin-bottom: 20px;

    height: 135px;
    width: 375px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 115px;
}

.sticker-container>* {
    padding: 10px;
    margin: 0 10px;
}

.upload-share-btns {
    /* grid-area: 7/1/8/6; */
    justify-self: end;
}

.upload-share-btns>* {
    height: 60px;
    width: 120px;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-size: 25px;
}

.canvas-text-box {
    position: absolute;
    top: 40px;
    left: 75px;
    border: black solid 1px;
    height: 50px;
    width: 400px;
    text-align: center;

}

.canvas-text {
    line-height: 50px;
    font-size: 25px;
}

footer {
    background-color: #ff7f00;
    height: 80px;

}

.footer-txt {
    text-align: center;
    padding-top: 30px;
}

/* HELPERS */


/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;

}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}